/* Constants throughout the entire HTML body */
body { 
    line-height: 1.5;
    background-color: rgb(188, 198, 255);
}

/* Styling and Formatting for the header */
header {
    display: flex;
    justify-content: space-between;
    padding: 30px 0px;
    align-items: flex-end;
    background-color: rgb(255, 102, 75);
    color: white;
    font-size: 160%;
    font-style: oblique;
}

/* Creating a blue Title card for my name */
.titleCard {
    padding: 30px;
    max-width: 400px;
    width: 100%;
    background-color: rgb(71, 92, 211);
}

header h1 {
    text-align: left;
}

/* Formatting the links to display side by side */
nav ul {
    display: flex;
    justify-content: space-between;
    min-width: 700px;
    padding: 0px 75px;
}

/* Styling of the header links */
ul a {
    text-decoration: none;
    color: black;
    font-size: 85%;
    font-weight: bold;
}

/* Styling when cursor is hovered over the link buttons */
header nav a:hover {
    opacity: 0.7;
    color: blue;
}

/* Formatting for the standalone image */
.bgImage {
    background-image: url(../images/portfoliobg.PNG);
    height: 800px;
    object-position: 100% 100%;
    background-size: cover;
    background-position: center;
    object-fit: cover;
}

/* Styling and Formatting of the Box for the "About Me" article */
.aboutMe {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: grey;
    max-width: 1000px;
    width: 100%;
    padding: 30px 50px;
    margin: 0px auto;
}

/* Fitting the "About Me" Title and Picture onto one line */
article div {
    display: flex;
    flex-direction: row;
}

article div h2 {
    display: flex;
    align-items: center;
}

/* Styling for the "About Me" article title */
h2 {
    font-size: 60px;
    font-style: oblique;
    width: 300px;
    height: 160px;
}

/* Formatting of the Self Image */
.selfPic {
    align-self:center;
    background-image: url(../images/selfpic.jpg);
    background-size: cover;
    width: 150px;
    height: 150px;
    border: 2px solid black;
}

/* Setting paragraph font size as well as a bottom margin for paragraph separation */
article p {
    font-size: 20px;
    margin-bottom: 25px;
}

/* Formatting to align the "My Work" title with the "About Me" title */
.myWorkTitle {
    max-width: 1000px;
    width: 100%;
    padding: 30px 50px;
    margin: 0px auto 0px;
}

/* Flexbox formatting for the 5 Projects */
.workProjects {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1000px;
    width: 100%;
    height: 1150px;
    text-align: center;
    margin: 0% auto 0%;
}

/* Formatting for all h3 titles on the project pictures */
section h3 {
    padding: 10px;
    max-width: 250px;
    width: 100%;
    background-color: rgb(0, 0, 185);
    color: white;
}

/* Formatting for the first project */
.firstProject {
    background-image: url(../images/firstproject.png);
    background-size: cover;
    background-position: center;
    width: 1000px;
    height: 500px;
    background-color: lightblue;
    margin: 0px;
    padding: 0px;
    border: 9px solid rgb(0, 0, 185);
    opacity: 0.7;
    transition: 0.4s;
}

.firstProject:hover {
    opacity: 1;
}

/* Formatting for the second project */
.secondProject {
    background-image: url(../images/secondproject.png);
    background-size: cover;
    background-position: center;
    width: 450px;
    height: 250px;
    background-color: lightblue;
    margin: 0px 100px 0px 0px;
    padding: 0%;
    border: 9px solid rgb(0, 0, 185);
    opacity: 0.7;
    transition: 0.4s;
}

.secondProject:hover {
    opacity: 1;
}

/* Formatting for the third project */
.thirdProject {
    background-image: url(../images/thirdproject.png);
    background-size: cover;
    background-position: center;
    width: 450px;
    height: 250px;
    background-color: lightblue;
    margin: 0px;
    padding: 0px;
    border: 9px solid rgb(0, 0, 185);
    opacity: 0.7;
    transition: 0.4s;
}

.thirdProject:hover {
    opacity: 1;
}

/* Formatting for the fourth project */
.fourthProject {
    background-image: url(../images/fourthproject.png);
    background-size: cover;
    background-position: center;
    width: 450px;
    height: 250px;
    background-color: lightblue;
    margin: 0px 100px 0px 0px;
    padding: 0px;
    border: 9px solid rgb(0, 0, 185);
    opacity: 0.7;
    transition: 0.4s;
}

.fourthProject:hover {
    opacity: 1;
}

/* Formatting for the fifth project */
.fifthProject {
    background-image: url(../images/fifthproject.png);
    background-size: cover;
    background-position: center;
    width: 450px;
    height: 250px;
    background-color: lightblue;
    margin: 0px;
    padding: 0px;
    border: 9px solid rgb(0, 0, 185);
    opacity: 0.7;
    transition: 0.4s;
}

.fifthProject:hover {
    opacity: 1;
}

/* Basic footer styling and formatting */
footer {
    background-color: peachpuff;
    display: flex;
    height: 200px;
}

footer h2 {
    text-align: center;
    align-self: center;
}

/* Formatting to make the resources appear side to side */
footer p {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: auto;
    font-size: 25px;
    font-weight: bold;
}

footer a {
    text-decoration: none;
    color: black;
}

footer a:hover {
    opacity: 0.6;
    transition: 0s;
    color: blue;
}

/* Website reformatting when the window is resized to a certain width */
@media only screen and (max-width: 1016px) {

    .workProjects {
        max-width: 900px;
        height: 1500px;
        align-items: center;
    }

    .firstProject {
        width: 450px;
    }

    .secondProject {
        margin: auto;
    }

    .fourthProject {
        margin: auto;
    }
}

@media only screen and (max-width: 900px) {

    header ul{
        flex-direction: column;
    }

    footer {
        flex-direction: column;
    }

    footer h2 {
        font-size: 25px;
        height: auto;
    }

    footer p {
        font-size: 15px;
    }
}
